<h3 class="text-white text-center bg-warning">Pipe</h3>
<div class="container">
  <div class="row">
    <div class="col-4 mt-3 text-white bg-dark py-3">
      <p class="alert alert-info">
        <strong class="text-warning bg-dark">uppercase :</strong>:
        {{ title | uppercase }}
      </p>
    </div>
    <div class="col-4 mt-3 text-white bg-dark py-3">
      <p class="alert alert-info">
        <strong class="text-warning bg-dark">lowercase :</strong>
        {{ title | lowercase }}
      </p>
    </div>

    <div class="col-4 mt-3 text-white bg-dark py-3">
      <p class="alert alert-info">
        <strong class="text-warning bg-dark">titlecase : </strong
        >{{ title | titlecase }}
      </p>
    </div>
  </div>
</div>
